Package: luci-app-firewall
Version: svn-r9977-1
Depends: libc, firewall
Source: feeds/luci/contrib/package/luci
Section: luci
Maintainer: LuCI Development Team <luci@lists.subsignal.org>
Architecture: ramips_24kec
Installed-Size: 55372
Description:  Firewall and Portforwarding application
