Package: luci-mod-admin-core
Version: svn-r9977-1
Depends: libc, luci-lib-web, luci-proto-core, luci-i18n-english
Source: feeds/luci/contrib/package/luci
Section: luci
Maintainer: LuCI Development Team <luci@lists.subsignal.org>
Architecture: ramips_24kec
Installed-Size: 5343
Description:  Web UI Core module
