Package: luci-lib-sys
Version: svn-r9977-1
Depends: libc
Source: feeds/luci/contrib/package/luci
Section: luci
Maintainer: LuCI Development Team <luci@lists.subsignal.org>
Architecture: ramips_24kec
Installed-Size: 15604
Description:  LuCI Linux/POSIX system library
